
<div class="table-responsive">
  <table class="table table-striped text-successtable-border border-light">
    <thead class="border-light">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Image</th>
    <th scope="col">Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">Email</th>
    <th scope="col">Password</th>
    <th scope="col">Hire Date</th>
    <th scope="col">Date of Birth</th>
    <th scope="col">Address</th>
    <th scope="col">Phone</th>
    <th scope="col">Actions</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let recruiter of dumbRecruiters; let i = index">
    <th scope="row" *ngIf="recruiter.isActivated">{{ i +1 }}</th>
    <td *ngIf="recruiter.isActivated">

      <img *ngIf="recruiter.isActivated" [src]="recruiter.image" style="width: 45px; height: 45px" class="rounded-circle"/>

    </td>
    <td *ngIf="recruiter.isActivated">{{ recruiter.name}}</td>
    <td *ngIf="recruiter.isActivated">{{ recruiter.lastName}}</td>

    <td *ngIf="recruiter.isActivated && recruiter.email">{{ recruiter.email}}</td>
    <td *ngIf="recruiter.isActivated && !recruiter.email">N/A</td>

    <td *ngIf="recruiter.isActivated && recruiter.password">{{ recruiter.password}}</td>
    <td *ngIf="recruiter.isActivated && !recruiter.password">N/A</td>

    <td *ngIf="recruiter.isActivated">{{ recruiter!.formattedEnrollDate}}</td>

    <td *ngIf="recruiter.isActivated && recruiter.dateOfBirth">{{ recruiter!.formattedDob }}</td>
    <td *ngIf="recruiter.isActivated && !recruiter.dateOfBirth">N/A</td>

    <td *ngIf="recruiter.isActivated && recruiter.address">{{ recruiter.address}}</td>
    <td *ngIf="recruiter.isActivated && !recruiter.address">N/A</td>


<!--    <td *ngIf="student.isActivated && student.cityName">{{ student.cityName}}</td>-->
<!--    <td *ngIf="student.isActivated && !student.cityName">N/A</td>-->

    <td *ngIf="recruiter.isActivated && recruiter.phone">{{ recruiter.phone}}</td>
    <td *ngIf="recruiter.isActivated && !recruiter.phone">N/A</td>
    <td *ngIf="recruiter.isActivated">
      <button mat-icon-button matTooltip="Primary" color="primary" (click)="editRecruiter(recruiter.id)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Warn" color="warn" (click)="deleteRecruiter(recruiter.id)">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </td>
  </tr>
  </tbody>
</table>




<div class="d-flex justify-content-between p-2">
  <ngb-pagination
    [collectionSize]="collectionSize"
    [(page)]="page"
    [pageSize]="pageSize"
    (pageChange)="refreshRecruiters()"
  >
  </ngb-pagination>
  <button mat-raised-button color="primary" [routerLink]="'/admin/add-recruiter/'">Add New Recruiter</button>

  <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshRecruiters()">
    <option [ngValue]="2">2 items per page</option>
    <option [ngValue]="4">4 items per page</option>
    <option [ngValue]="6">6 items per page</option>
  </select>
</div>
</div>
