<div class="table-responsive">
  <table class="table table-striped text-successtable-border border-light">
    <thead class="border-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">College</th>
      <th scope="col">Department</th>
      <th scope="col">Email</th>
      <th scope="col">Password</th>
      <th scope="col">Enroll Date</th>
      <th scope="col">Date of Birth</th>
      <th scope="col">Address</th>
      <th scope="col">Skills</th>
      <th scope="col">City</th>
      <th scope="col">Phone</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of dumbStudents; let i = index">
      <th scope="row" *ngIf="student.isActivated">{{ i +1 }}</th>
      <td  *ngIf="student.isActivated">

        <img *ngIf="student.isActivated" [src]="student.image"  class="rounded-circle" style="width: 40px; height: 40px;"/>

      </td>
      <td *ngIf="student.isActivated">{{ student.name}}</td>
      <td *ngIf="student.isActivated">{{ student.lastName}}</td>
      <td *ngIf="student.isActivated && student.collegeName">{{ student.collegeName}}</td>
      <td *ngIf="student.isActivated && !student.collegeName">N/A</td>
      <td *ngIf="student.isActivated && student.department">{{ student.department}}</td>
      <td *ngIf="student.isActivated && !student.department">N/A</td>
      <td *ngIf="student.isActivated">{{ student.email}}</td>

      <td *ngIf="student.isActivated && student.password.length > 10">{{ student.password.slice(0,10)}}...</td>
      <td *ngIf="student.isActivated && student.password.length <= 10">{{ student.password}}</td>
      <td *ngIf="student.isActivated">{{ student!.formattedEnrollDate}}</td>

      <td *ngIf="student.isActivated && student.dateOfBirth">{{ student!.formattedDob }}</td>
      <td *ngIf="student.isActivated && !student.dateOfBirth">N/A</td>

      <td *ngIf="student.isActivated && student.address">{{ student.address}}</td>
      <td *ngIf="student.isActivated && !student.address">N/A</td>

      <td *ngIf="student.isActivated && student.skills">{{ student.skills}}</td>
      <td *ngIf="student.isActivated && !student.skills">N/A</td>

      <td *ngIf="student.isActivated && student.cityName">{{ student.cityName}}</td>
      <td *ngIf="student.isActivated && !student.cityName">N/A</td>

      <td *ngIf="student.isActivated && student.phone">{{ student.phone}}</td>
      <td *ngIf="student.isActivated && !student.phone">N/A</td>
      <td *ngIf="student.isActivated">
        <button mat-icon-button matTooltip="Primary" color="primary"  (click)="editStudent(student.id)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Warn" color="warn" (click)="deleteStudent(student.id)">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>




<div class="d-flex justify-content-between p-2">
  <ngb-pagination
    [collectionSize]="collectionSize"
    [(page)]="page"
    [pageSize]="pageSize"
    (pageChange)="refreshStudents()"
  >
  </ngb-pagination>
  <button mat-raised-button color="primary" [routerLink]="'/admin/add-student/'">Add New Student</button>

  <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshStudents()">
    <option [ngValue]="2">2 items per page</option>
    <option [ngValue]="4">4 items per page</option>
    <option [ngValue]="6">6 items per page</option>
  </select>
</div>
