<div *ngIf="isLoading">
  <app-loader></app-loader>
</div>

<div *ngIf="!isLoading && !isAccountActive">
  <app-not-found></app-not-found>
</div>

<section  *ngIf="!isLoading && isAccountActive" style="background-color: #eee;">

  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black m-5" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Dear {{student!.name}} {{student!.lastName}}, Complete your profile</p>
                <form class="mx-1 mx-md-4"  [formGroup]="createPostForm" (ngSubmit)="send()">

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" id="department" class="form-control"  [formControlName]="'department'" />
                      <label class="form-label" for="department">Department</label>
                    </div>
                  </div>
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" id="address" class="form-control"  [formControlName]="'address'" />
                      <label class="form-label" for="address">Address</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="date" id="enrollDate" name="trip-start" class="form-control" [formControlName]="'enrollDate'">
                      <label class="form-label" for="enrollDate">Enroll Date</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" id="phone" class="form-control"  [formControlName]="'phone'" />
                      <label class="form-label" for="phone">Phone</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="date" id="dateOfBirth" name="trip-start" class="form-control" [formControlName]="'dateOfBirth'">
                      <label class="form-label" for="dateOfBirth">Date of Birth</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <div class="row">
                        <mat-form-field appearance="fill" *ngIf="cityControl">
                          <mat-label>Cities</mat-label>
                          <mat-select [formControl]="cityControl">
                            <mat-option *ngFor="let city of cities" [value]="city.name" required>
                              {{city.name}}
                            </mat-option>
                          </mat-select>
                          <mat-error *ngIf="cityControl.hasError('required')">Please choose a City</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" id="skills" class="form-control"  [formControlName]="'skills'" />
                      <label class="form-label" for="skills">Skills (Separate with comma [ , ])</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" id="languages" class="form-control"  [formControlName]="'languages'" />
                      <label class="form-label" for="languages">Languages</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <div class="row">

                          <mat-form-field appearance="fill">
                            <mat-label>Courses</mat-label>
                            <mat-select [formControl]="courseControl" multiple>
<!--                              <mat-option>&#45;&#45;</mat-option>-->
                              <mat-option *ngFor="let course of courses" [value]="course" required>
                                {{course.name}}
                              </mat-option>
                            </mat-select>
                            <mat-error *ngIf="courseControl.hasError('required')">Please choose an at least 1 Course</mat-error>
                          </mat-form-field>
                        </div>
                      </div>
<!--                      <label class="form-label" [for]="courseControl.defaultValue">Courses</label>-->
                  </div>
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
<!--                      <input type="text" id="image" class="form-control"  [formControlName]="'image'" />-->
<!--                      <label class="form-label" for="image">Image</label>-->
                      <div class="text-center">
                        <input class="form-control" type="file"
                               (change)="onChange($event)" [formControlName]="'image'">

<!--                        <button (click)="onUpload()"-->
<!--                                class="btn btn-success">-->
<!--                          Upload-->
<!--                        </button>-->
                      </div>

                      <!-- Shareable short link of  uploaded file -->
                      <div class="container text-center jumbotron"
                           *ngIf="shortLink">
                        <h2> Visit Here</h2>
                        <a href="{{shortLink}}">{{shortLink}}</a>
                      </div>

                      <!--Flag variable is used here-->
                      <div class="container" *ngIf="loading">
                        <h3>Loading ...</h3>
                      </div>
                    </div>
                  </div>

                  <div class="form-check d-flex justify-content-center mb-5">
                    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                    <label class="form-check-label">
                      I agree all statements in <a href="#!">Terms of service</a>
                    </label>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="button" class="btn btn-primary btn-lg" (click)="send()">Complete</button>
                  </div>

                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                     class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
