<nav class="navbar navbar-expand-lg  text-white" style="background-image: linear-gradient(#3348f5, #091083);">

  <div class="container-fluid text-white">

    <a class="navbar-brand text-white" [routerLink]="''" routerLinkActive="active">Student Application</a>

    <button
      class="navbar-toggler"
      type="button"
      aria-expanded="true"
      (click)="collapse.toggle()"
      [attr.aria-expanded]="!isCollapsed"
      aria-label="Toggle navigation"
    >
      <mat-icon class="text-white border-1">calendar_view_day</mat-icon>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">

          <a class="nav-link active text-white d-flex" [routerLink]="''" routerLinkActive="active"><mat-icon>home</mat-icon>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white d-flex" [routerLink]="'/students'" routerLinkActive="active"><mat-icon>people</mat-icon>Students</a>
        </li>
        <li class="nav-item me-5">
          <a class="nav-link text-white d-flex" [routerLink]="'/companies'" routerLinkActive="active"><mat-icon>card_travel</mat-icon>Companies</a>
        </li>
        <li class="nav-item ms-lg-5">
          <form class="d-flex input-group w-auto">
            <input
              type="search"
              class="form-control"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-danger text-white" type="button">
              Search
            </button>

          </form>

        </li>

      </ul>
    </div>
    <div class="d-flex">
      <div class="me-2 ms-lg-5 ">
        <button *ngIf="recruiter && !student" type="button" class="btn text-white" style="background: linear-gradient(109.6deg, rgb(5, 85, 84) 11.2%, rgb(64, 224, 208) 91.1%);"  (click)="openMessagesRecruiter(recruiter.id)" >
          <mat-icon> message</mat-icon>
        </button>
        <button *ngIf="!recruiter && student" type="button" class="btn text-white" style="background: linear-gradient(109.6deg, rgb(5, 85, 84) 11.2%, rgb(64, 224, 208) 91.1%);" (click)="openMessagesStudent(student.id)" >
          <mat-icon> message</mat-icon>
        </button>
      </div>
      <div *ngIf="!(student || recruiter)" ngbDropdown class="d-inline-block">
        <button type="button" class="btn text-white" id="dropdownBasic1" ngbDropdownToggle style="background-image: linear-gradient(#0D324D, #7F5A83);">
          Actions
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem [routerLink]="'/login'">Login</button>
          <button ngbDropdownItem [routerLink]="'/sign-up'">Signup</button>
        </div>
      </div>

<!--      <div *ngIf="admin" class="example-button-row">-->
<!--        <div class="example-flex-container">-->
<!--          <div ngbDropdown  class="example-button-container d-inline-block">-->
<!--            <button *ngIf="admin && (!recruiter && !student)" type="button" class="btn btn-success bg-gradient text-white w-100" id="dropdownBasic5" ngbDropdownToggle>-->
<!--              {{admin.name}} {{admin.lastName}}-->
<!--            </button>-->
<!--            <div ngbDropdownMenu aria-labelledby="dropdownBasic5">-->
<!--              <button ngbDropdownItem (click)="goToAdmin(admin.id)">Profile</button>-->
<!--              <button ngbDropdownItem (click)="logout()">Logout</button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
      <div *ngIf="student" class="example-button-row">
        <div class="example-flex-container">
          <div ngbDropdown  class="example-button-container d-inline-block">
            <button *ngIf="student" type="button" class="btn  text-white w-100" id="dropdownBasic2" ngbDropdownToggle style="background-image: linear-gradient(#0D324D, #7F5A83);">
              {{student.name}} {{student.lastName}}
              <img class="img-profile rounded-circle" style="max-height: 50px; max-width: 40px"
                   [src]="'data:image/jpeg;base64' +student.image">
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
              <button ngbDropdownItem (click)="goToStudent(student.id)">Profile</button>
              <button ngbDropdownItem (click)="logout()">Logout</button>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="recruiter" class="example-button-row">
        <div class="example-flex-container">
          <div ngbDropdown  class="example-button-container d-inline-block">
            <button *ngIf="recruiter && !student" type="button" class="btn text-white w-100" id="dropdownBasic3" ngbDropdownToggle style="background-image: linear-gradient(#0D324D, #7F5A83);">
              {{recruiter.name}} {{recruiter.lastName}}
              <img class="img-profile rounded-circle" style="max-height: 50px; max-width: 40px"
                   [src]="'data:image/jpeg;base64' +recruiter.image">
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic3">
              <button ngbDropdownItem (click)="goToRecruiter(recruiter.id)">Profile</button>
              <button ngbDropdownItem (click)="logout()">Logout</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

